@import url("//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* #dropdown-itineraries {
  border: 1px solid white;
} */

.list-item-content {
  text-align: left;
}

ui.list .list > .item > .icon + .content,
.ui.list .list > .item > .image + .content,
.ui.list > .item > .icon + .content,
.ui.list > .item > .image + .content {
  text-align: left;
  display: table-cell;
  width: 100%;
  padding: 0 0 0 0.5em;
  vertical-align: top;
}
.ui.list > .item {
  text-align: left;
}

.timeline {
  padding: 0px 0 0 0;
  margin: 0px auto;
}

#site-name {
  color: #e8202d;
}

.ligth-red {
  color: #e86971;
}

.ui.red.button,
.ui.red.buttons .button {
  background-color: #ef6d6d;
}

.empty-message {
  font-size: 1.2em;
  text-align: left;
  color: slategray;
}
